<div id="container" >
  <div style="text-align:center">
    <h1>
      Grid Example Movies
    </h1>
  </div>
  <div class="return-message alert angular-with-newlines" [class.alert-info]="!isError" [class.alert-danger]="isError">{{message}}</div>
  <div class="toolbar">
      <button type="button" id="loadData" class="btn btn-success" (click)="loadData($event)">Load Data</button>
      <button type="button" id="saveData" class="btn btn-success" (click)="saveData($event)">Save Data</button>
      <button type="button" id="addFirstLine" class="btn btn-success" (click)="addFirstLine($event)">Add First Line Again</button>
      <button type="button" id="updateFirstLine" class="btn btn-success" (click)="updateFirstLine($event)">Update First Line</button>
  </div>
  <div id="content">
      <ag-grid-angular
                        class="ag-fresh"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [gridOptions]="gridOptions"
                        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
  </div>
</div>
